* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(39, 39, 39);
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 450px;
  max-width: 450px;
  min-height: 600px;
  max-height: 600px;
  overflow: scroll;
  position: relative;
}

.container {
  padding: 1rem;
}

input {
  height: 4rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
  border: 0.2rem #4e8d2a solid;
  background-color: rgb(17, 17, 17);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

input:focus,
input:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.2rem #387a12 solid;
  outline: none;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main-btns {
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #4e8d2a;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  transition: 0.2s;
}

.main-btns:nth-of-type(1) {
  grid-column: 1/-1;
}

.main-btns:nth-of-type(2) {
  grid-column: 1/7;
}

.main-btns:nth-of-type(3) {
  grid-column: 7/-1;
}

.main-btns:hover {
  background-color: #387a12;
}

.main-btns:active {
  transform: scale(0.95);
}

ul {
  margin-top: 2rem;
  padding-left: 0;
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0.5rem 0;
}

a {
  display: block;
  grid-column: 1/11;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0f0f0f;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: inset -50px 0px 50px black;
  white-space: nowrap;
}

a:hover {
  text-decoration: underline;
  background-color: #050505;
}

.edit-link-btn {
  grid-column: 11/12;
  background-color: rgb(66, 159, 235);
  color: #ffffff;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.2s;
}

.edit-link-btn:hover {
  background-color: rgb(33, 132, 245);
}

.edit-link-btn:active {
  transform: scale(0.9);
}

.edit-link-btn span {
  pointer-events: none;
}

.delete-link-btn {
  grid-column: 12/-1;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgb(235, 66, 66);
  color: #ffffff;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.2s;
}

.delete-link-btn:hover {
  background-color: rgb(245, 33, 33);
}

.delete-link-btn:active {
  transform: scale(0.9);
}

.delete-link-btn span {
  pointer-events: none;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: rgb(16, 17, 16);
  border: 2px solid #387a12;
  box-shadow: 0.2rem 0.2rem 0rem 0rem rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  height: 200px;
  width: 400px;
}

.modal-conntent-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  font-size: 4rem;
  background-color: #387a12;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.modal-conntent-container p {
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.modal-conntent-container button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #4e8d2a;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  transition: 0.2s;
}

.modal-conntent-container button:hover {
  background-color: #387a12;
}

.modal-conntent-container button:active {
  transform: scale(0.9);
}

.modal-inputs{
  padding: 1rem;
}

.display-none {
  display: none;
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.slide-out {
  animation: slide-out 600ms ease;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slide-in {
  animation: slide-in 600ms ease;
}
